body {
  background-color: lightblue;
}

.comicContainer {
  border: solid black;
  height: 65vh;
  margin: 90px;
}

.topText{
  border: solid red;
  font-size:32px;
  text-align:center;
}

.section{
  border: solid purple;
  width: 33%;
  margin: 15px;  
}

.pic {
  border: solid blue;
  width: 100%;
  height: 100%;

}

.miniText{
  border: solid green;
  position:inherit;
  bottom: 0;
  left:0;
  background-color: lightblue;
}

.rowOne {
  display: flex;
  height: 40%;
  margin: 1em;
}

.rowTwo{
  display: flex;
  height: 40%;
  margin: 1em;
}

